body{
  background-image: url("background.jpg");
  background-size: 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    background-color: bisque;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    font-family:'Lucida caligraphy';
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 4px solid rgb(154, 51, 51);
    font-size: 35px;
    color: brown;
  }
  
  .menu-group {
    display:grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 2.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    min-height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: grid;
    justify-content:baseline;
    margin: 0;
    font-size: 23px;
    color: rgb(206, 98, 98);
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
    display: grid;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 170px;
    }
  }